<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUi1mwLfs39TYWeSL1i5lW5j6z4Z6nirM</string>
	<key>GCM_SENDER_ID</key>
	<string>807530107531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cleanairmi.eco-health-ios</string>
	<key>PROJECT_ID</key>
	<string>eco-buddy-361fc</string>
	<key>STORAGE_BUCKET</key>
	<string>eco-buddy-361fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807530107531:ios:d86188b6b6248f13687a8e</string>
</dict>
</plist>